* {
    font-family: "Droid Serif", serif;
}


body {
    background-color: white;
    color: #333333;
    margin: 0;
}

header {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: cornflowerblue;
}

nav ul li a:hover {
    cursor:grabbing;
}

main {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

section {
    margin-top: 80px;
    counter-reset: pregunta;
}

.pregunta {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

span.idioma {
    font-style: italic;
}

img {
    vertical-align: text-top;
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    border: 1px solid lightgray;
}

footer {
    height: 50px;
    line-height: 50px;
    margin-top: 100px;
    background-color: steelblue;
    width: 100%;
    font-size: 80%;
    color: white;
    text-align: center;
}

footer a {
    color: lightgray;
}

.bloque {
    counter-increment: pregunta;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 6px 6px 3px slategray;
}

.bloque::before {
    content: "Pregunta " counter(pregunta);
}

.respuesta[data-valor="true"]::after {
    content: "Verdadero";
}

.respuesta[data-valor="false"]::after {
    content: "Falso";
}